#navbar{
display: flex;
background-color: blueviolet;
color: aliceblue;
justify-content: space-around;
}
#search_input{
    width: 70%;
    border-radius: 5px;
    
}
a{
    cursor: pointer;

}
#downMain{
    display: flex;
}
#sidebar{
    border: solid 1px;
    width: 13%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    font-size: xx-large;
}
#results{
    border: solid black;
    /* width: 70%; */
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(1,1fr);

}
.news{
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
    display: flex;
    border: solid black;
}
img{
    width: 200px;
    height: 200px;
}